.delievery_and_cross h4 {
    margin: 0;
    font-size: 19.32px;
    font-weight: 600;
    color: black;
}
.form-modal .cod-form-layer-main {
    display: none;
}
.new-div{
    display: none !important; 
}
.product_details .image_title img {
    width: 100%;
    max-width: 60px;
    height: 60px;
    object-fit: cover;
}
.image_title {
    display: flex;
    align-items: center;
    position: relative;
}
.quantity_cod_badge p {
    margin: 0;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
}
.quantity_cod_badge {
    position: absolute;
    left: 40px;
    top: -5px;
    background-color: gray;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 20px;
}
.product_details {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    padding: 6px 0;
    margin: 16px 0;
}
.cod_complete_btn button{
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    border-radius: 5px;
}
.cod_complete_btn button p{
    color: #fff;
}