{%  style  %} 
.cod-form-layer {
    background: rgb(0 0 0 / 50%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
{% endstyle %}



<div class="cod-form-layer-main">
<div class="cod-form-main">

</div>
</div>